gh:
  org: "{{ github_user }}"
  repo: "{{ github_repo }}"

# TODO: Add a short description of the package here, used in the README and landing page.
tagline: ""

links:
  github: "https://github.com/{{ github_user }}/{{ github_repo }}"
  # TODO: Add the correct URL
  site: ""
