project:
  # TODO: Change to extension name if using a custom extension
  type: website

website:
  # TODO: Fill in the title of the website.
  title: ""
  {% if hosting_provider == "gh-pages" -%}
  site-url: "https://{{ github_user }}.github.io/{{ github_repo }}/"
  {%- elif hosting_provider == "netlify" -%}
  # TODO: Add the Netlify custom domain URL
  site-url: ""
  {%- endif %}
  repo-url: "https://github.com/{{ github_repo_spec }}"
  page-navigation: true
  navbar:
    pinned: true
    title: false
    {%- if for_seedcase %}
    logo: "_extensions/seedcase-project/seedcase-theme/logos/{{ github_repo }}/navbar.svg"
    logo-alt: "{{ github_repo }} logo: Main page"
    {%- else %}
    # TODO: Add logo if desired
    logo: ""
    logo-alt: "{{ github_repo }} logo: Main page"
    {%- endif %}
    left:
      - text: "Overview"
        href: docs/index.qmd
      - text: "Guide"
        href: docs/guide/index.qmd
      - text: "Design"
        href: docs/design/index.qmd
      # - text: "Reference"
      #   href: docs/reference/index.qmd
    tools:
      - icon: github
        href: "https://github.com/{{ github_repo_spec }}"
        aria-label: "GitHub icon: Source code"
      {%- if for_seedcase %}
      - icon: house
        href: "https://seedcase-project.org"
        aria-label: "House icon: Main website for the Seedcase Project"
      {%- endif %}
  sidebar:
    - id: overview
      pinned: true
      style: "floating"
      contents:
        - docs/index.qmd
        - CHANGELOG.qmd
        - CONTRIBUTING.md
    - id: design
      contents:
        - text: "Design"
          href: docs/design/index.qmd
    - id: guide
      contents:
        - section: "Guide"
          href: docs/guide/index.qmd

format:
  {% if for_seedcase -%}
  seedcase-theme-html
  {%- else -%}
  # TODO: Use Quarto extension if available
  html:
    theme:
      # TODO: Choose a different theme if desired
      - litera
  {%- endif %}
    # TODO: Uncomment if using the goatcounter website visitor counter
    # include-before-body:
      # - "docs/includes/site-counter.html"
