# TODO: Add title of Rust package.
title: ""
# TODO: Add abstract of Rust package.
abstract: |
  TEXT
authors:
  # TODO: Add author information.
  - family-names: ""
    given-names: ""
    orcid: ""
    affiliation: ""
  # TODO: Add more authors as needed.
  # - family-names: ""
  #   given-names: ""
  #   orcid: ""
  #   affiliation: ""
cff-version: 1.2.0
# doi:
# date-released: ""
keywords:
  # TODO: Add keywords relevant to the project.
  - ""
license: MIT
message: "If you use this Rust package, please cite it using these metadata."
repository-code: "https://github.com/{{ github_repo_spec }}"
# TODO: Add URL to a website.
url: ""
